.labs, .menu {
	box-sizing: border-box;
}

.labs {
	padding: 0 0 0 1rem;
}

.menu::-webkit-scrollbar { width: 0; }
.menu {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.menu {
	position: fixed;
	height: 100vh;
	overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6, p, li, footer {
	font-family: "Droid Serif", "Lora", Bookman, Georgia;
	font-weight: normal;
}

pre, code {
	font-family: "Fira Code", monospace, Consolas;
}

h1, h2 {
	text-align: center;
}

.aligment-center {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.table-SQL {
	font-family: Fira Code;
	font-size: 0.8rem;
	width: auto;
}

.correct {
	border: 0.1rem solid #5cb85c;
}
.wrong {
	border: 0.1rem solid #d9534f;
}

.comment {
	color: rgba(0, 0, 0, 0.5);
	font-style: italic;
}

em.correct, em.wrong {
	border: none;
	font-style: normal;
}
em.correct {
	color: #5cb85c;
}
em.wrong {
	color: #d9534f;
}

code {
	color: black;
	background-color: RGBA(255, 25, 32, 0.02);
}

.lab h2 {
	text-align: left;
}

.marked {
	background-color: #f0ad4e;
}

.page-footer {
  background: #f8f8f8;
  padding: 1em;
  margin-top: 1em;
  box-sizing: border-box;
}