{
  "name": "Мои лабы",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [],
  "fileTree": {
    "expandedDirs": [],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "views/1-7.pug",
      "imports": [
        "views/templates/extra.pug",
        "views/extras/1-7.sql",
        "views/templates/mixins.pug",
        "views/templates/contents.pug",
        "views/templates/head.pug",
        "views/templates/menu.pug",
        "views/templates/scripts.pug"
      ]
    },
    {
      "path": "views/1-block.pug",
      "imports": [
        "views/templates/block.pug",
        "views/labs/1-lab.pug",
        "views/labs/2-lab.pug",
        "views/labs/3-lab.pug",
        "views/labs/4-lab.pug",
        "views/templates/mixins.pug",
        "views/templates/contents.pug",
        "views/templates/head.pug",
        "views/templates/menu.pug",
        "views/templates/scripts.pug",
        "labs/2 lab/2-4.sql",
        "labs/2 lab/2-5.sql",
        "labs/3 lab/3-1.sql",
        "labs/3 lab/3-2.sql",
        "labs/3 lab/3-3.sql",
        "labs/3 lab/3-4.sql",
        "labs/4 lab/4-1.sql",
        "labs/4 lab/4-2.sql",
        "labs/4 lab/4-3.sql"
      ]
    },
    {
      "path": "views/2-block.pug",
      "imports": [
        "views/templates/block.pug",
        "views/labs/5-lab.pug",
        "views/labs/6-lab.pug",
        "views/labs/7-lab.pug",
        "views/labs/8-lab.pug",
        "views/templates/mixins.pug",
        "views/templates/contents.pug",
        "views/templates/head.pug",
        "views/templates/menu.pug",
        "views/templates/scripts.pug",
        "labs/5 lab/5-1.sql",
        "labs/5 lab/5-2.sql",
        "labs/6 lab/6-1.sql",
        "labs/6 lab/6-2.sql",
        "labs/6 lab/6-3.sql",
        "labs/7 lab/7-1.sql",
        "labs/7 lab/7-2.sql",
        "labs/7 lab/7-3.sql",
        "labs/8 lab/8-1.sql",
        "labs/8 lab/8-2.sql"
      ]
    },
    {
      "path": "sass/bootstrap/bootstrap-grid.scss",
      "imports": [
        "sass/bootstrap/_functions.scss",
        "sass/bootstrap/_variables.scss",
        "sass/bootstrap/mixins/_breakpoints.scss",
        "sass/bootstrap/mixins/_grid-framework.scss",
        "sass/bootstrap/mixins/_grid.scss",
        "sass/bootstrap/_grid.scss",
        "sass/bootstrap/utilities/_display.scss",
        "sass/bootstrap/utilities/_flex.scss",
        "sass/bootstrap/utilities/_spacing.scss"
      ]
    },
    {
      "path": "sass/bootstrap/bootstrap-reboot.scss",
      "imports": [
        "sass/bootstrap/_functions.scss",
        "sass/bootstrap/_variables.scss",
        "sass/bootstrap/_mixins.scss",
        "sass/bootstrap/_reboot.scss",
        "sass/bootstrap/vendor/_rfs.scss",
        "sass/bootstrap/mixins/_deprecate.scss",
        "sass/bootstrap/mixins/_breakpoints.scss",
        "sass/bootstrap/mixins/_hover.scss",
        "sass/bootstrap/mixins/_image.scss",
        "sass/bootstrap/mixins/_badge.scss",
        "sass/bootstrap/mixins/_resize.scss",
        "sass/bootstrap/mixins/_screen-reader.scss",
        "sass/bootstrap/mixins/_size.scss",
        "sass/bootstrap/mixins/_reset-text.scss",
        "sass/bootstrap/mixins/_text-emphasis.scss",
        "sass/bootstrap/mixins/_text-hide.scss",
        "sass/bootstrap/mixins/_text-truncate.scss",
        "sass/bootstrap/mixins/_visibility.scss",
        "sass/bootstrap/mixins/_alert.scss",
        "sass/bootstrap/mixins/_buttons.scss",
        "sass/bootstrap/mixins/_caret.scss",
        "sass/bootstrap/mixins/_pagination.scss",
        "sass/bootstrap/mixins/_lists.scss",
        "sass/bootstrap/mixins/_list-group.scss",
        "sass/bootstrap/mixins/_nav-divider.scss",
        "sass/bootstrap/mixins/_forms.scss",
        "sass/bootstrap/mixins/_table-row.scss",
        "sass/bootstrap/mixins/_background-variant.scss",
        "sass/bootstrap/mixins/_border-radius.scss",
        "sass/bootstrap/mixins/_box-shadow.scss",
        "sass/bootstrap/mixins/_gradients.scss",
        "sass/bootstrap/mixins/_transition.scss",
        "sass/bootstrap/mixins/_clearfix.scss",
        "sass/bootstrap/mixins/_grid-framework.scss",
        "sass/bootstrap/mixins/_grid.scss",
        "sass/bootstrap/mixins/_float.scss"
      ]
    },
    {
      "path": "sass/bootstrap/bootstrap.scss",
      "imports": [
        "sass/bootstrap/_functions.scss",
        "sass/bootstrap/_variables.scss",
        "sass/bootstrap/_mixins.scss",
        "sass/bootstrap/_root.scss",
        "sass/bootstrap/_reboot.scss",
        "sass/bootstrap/_type.scss",
        "sass/bootstrap/_images.scss",
        "sass/bootstrap/_code.scss",
        "sass/bootstrap/_grid.scss",
        "sass/bootstrap/_tables.scss",
        "sass/bootstrap/_forms.scss",
        "sass/bootstrap/_buttons.scss",
        "sass/bootstrap/_transitions.scss",
        "sass/bootstrap/_dropdown.scss",
        "sass/bootstrap/_button-group.scss",
        "sass/bootstrap/_input-group.scss",
        "sass/bootstrap/_custom-forms.scss",
        "sass/bootstrap/_nav.scss",
        "sass/bootstrap/_navbar.scss",
        "sass/bootstrap/_card.scss",
        "sass/bootstrap/_breadcrumb.scss",
        "sass/bootstrap/_pagination.scss",
        "sass/bootstrap/_badge.scss",
        "sass/bootstrap/_jumbotron.scss",
        "sass/bootstrap/_alert.scss",
        "sass/bootstrap/_progress.scss",
        "sass/bootstrap/_media.scss",
        "sass/bootstrap/_list-group.scss",
        "sass/bootstrap/_close.scss",
        "sass/bootstrap/_toasts.scss",
        "sass/bootstrap/_modal.scss",
        "sass/bootstrap/_tooltip.scss",
        "sass/bootstrap/_popover.scss",
        "sass/bootstrap/_carousel.scss",
        "sass/bootstrap/_spinners.scss",
        "sass/bootstrap/_utilities.scss",
        "sass/bootstrap/_print.scss",
        "sass/bootstrap/vendor/_rfs.scss",
        "sass/bootstrap/mixins/_deprecate.scss",
        "sass/bootstrap/mixins/_breakpoints.scss",
        "sass/bootstrap/mixins/_hover.scss",
        "sass/bootstrap/mixins/_image.scss",
        "sass/bootstrap/mixins/_badge.scss",
        "sass/bootstrap/mixins/_resize.scss",
        "sass/bootstrap/mixins/_screen-reader.scss",
        "sass/bootstrap/mixins/_size.scss",
        "sass/bootstrap/mixins/_reset-text.scss",
        "sass/bootstrap/mixins/_text-emphasis.scss",
        "sass/bootstrap/mixins/_text-hide.scss",
        "sass/bootstrap/mixins/_text-truncate.scss",
        "sass/bootstrap/mixins/_visibility.scss",
        "sass/bootstrap/mixins/_alert.scss",
        "sass/bootstrap/mixins/_buttons.scss",
        "sass/bootstrap/mixins/_caret.scss",
        "sass/bootstrap/mixins/_pagination.scss",
        "sass/bootstrap/mixins/_lists.scss",
        "sass/bootstrap/mixins/_list-group.scss",
        "sass/bootstrap/mixins/_nav-divider.scss",
        "sass/bootstrap/mixins/_forms.scss",
        "sass/bootstrap/mixins/_table-row.scss",
        "sass/bootstrap/mixins/_background-variant.scss",
        "sass/bootstrap/mixins/_border-radius.scss",
        "sass/bootstrap/mixins/_box-shadow.scss",
        "sass/bootstrap/mixins/_gradients.scss",
        "sass/bootstrap/mixins/_transition.scss",
        "sass/bootstrap/mixins/_clearfix.scss",
        "sass/bootstrap/mixins/_grid-framework.scss",
        "sass/bootstrap/mixins/_grid.scss",
        "sass/bootstrap/mixins/_float.scss",
        "sass/bootstrap/utilities/_align.scss",
        "sass/bootstrap/utilities/_background.scss",
        "sass/bootstrap/utilities/_borders.scss",
        "sass/bootstrap/utilities/_clearfix.scss",
        "sass/bootstrap/utilities/_display.scss",
        "sass/bootstrap/utilities/_embed.scss",
        "sass/bootstrap/utilities/_flex.scss",
        "sass/bootstrap/utilities/_float.scss",
        "sass/bootstrap/utilities/_overflow.scss",
        "sass/bootstrap/utilities/_position.scss",
        "sass/bootstrap/utilities/_screenreaders.scss",
        "sass/bootstrap/utilities/_shadows.scss",
        "sass/bootstrap/utilities/_sizing.scss",
        "sass/bootstrap/utilities/_stretched-link.scss",
        "sass/bootstrap/utilities/_spacing.scss",
        "sass/bootstrap/utilities/_text.scss",
        "sass/bootstrap/utilities/_visibility.scss"
      ]
    },
    {
      "path": "sass/bootstrap/_mixins.scss",
      "imports": [
        "sass/bootstrap/vendor/_rfs.scss",
        "sass/bootstrap/mixins/_deprecate.scss",
        "sass/bootstrap/mixins/_breakpoints.scss",
        "sass/bootstrap/mixins/_hover.scss",
        "sass/bootstrap/mixins/_image.scss",
        "sass/bootstrap/mixins/_badge.scss",
        "sass/bootstrap/mixins/_resize.scss",
        "sass/bootstrap/mixins/_screen-reader.scss",
        "sass/bootstrap/mixins/_size.scss",
        "sass/bootstrap/mixins/_reset-text.scss",
        "sass/bootstrap/mixins/_text-emphasis.scss",
        "sass/bootstrap/mixins/_text-hide.scss",
        "sass/bootstrap/mixins/_text-truncate.scss",
        "sass/bootstrap/mixins/_visibility.scss",
        "sass/bootstrap/mixins/_alert.scss",
        "sass/bootstrap/mixins/_buttons.scss",
        "sass/bootstrap/mixins/_caret.scss",
        "sass/bootstrap/mixins/_pagination.scss",
        "sass/bootstrap/mixins/_lists.scss",
        "sass/bootstrap/mixins/_list-group.scss",
        "sass/bootstrap/mixins/_nav-divider.scss",
        "sass/bootstrap/mixins/_forms.scss",
        "sass/bootstrap/mixins/_table-row.scss",
        "sass/bootstrap/mixins/_background-variant.scss",
        "sass/bootstrap/mixins/_border-radius.scss",
        "sass/bootstrap/mixins/_box-shadow.scss",
        "sass/bootstrap/mixins/_gradients.scss",
        "sass/bootstrap/mixins/_transition.scss",
        "sass/bootstrap/mixins/_clearfix.scss",
        "sass/bootstrap/mixins/_grid-framework.scss",
        "sass/bootstrap/mixins/_grid.scss",
        "sass/bootstrap/mixins/_float.scss"
      ]
    },
    {
      "path": "sass/bootstrap/_utilities.scss",
      "imports": [
        "sass/bootstrap/utilities/_align.scss",
        "sass/bootstrap/utilities/_background.scss",
        "sass/bootstrap/utilities/_borders.scss",
        "sass/bootstrap/utilities/_clearfix.scss",
        "sass/bootstrap/utilities/_display.scss",
        "sass/bootstrap/utilities/_embed.scss",
        "sass/bootstrap/utilities/_flex.scss",
        "sass/bootstrap/utilities/_float.scss",
        "sass/bootstrap/utilities/_overflow.scss",
        "sass/bootstrap/utilities/_position.scss",
        "sass/bootstrap/utilities/_screenreaders.scss",
        "sass/bootstrap/utilities/_shadows.scss",
        "sass/bootstrap/utilities/_sizing.scss",
        "sass/bootstrap/utilities/_stretched-link.scss",
        "sass/bootstrap/utilities/_spacing.scss",
        "sass/bootstrap/utilities/_text.scss",
        "sass/bootstrap/utilities/_visibility.scss"
      ]
    },
    {
      "path": "views/labs/2-lab.pug",
      "imports": [
        "labs/2 lab/2-4.sql",
        "labs/2 lab/2-5.sql"
      ]
    },
    {
      "path": "views/labs/3-lab.pug",
      "imports": [
        "labs/3 lab/3-1.sql",
        "labs/3 lab/3-2.sql",
        "labs/3 lab/3-3.sql",
        "labs/3 lab/3-4.sql"
      ]
    },
    {
      "path": "views/labs/4-lab.pug",
      "imports": [
        "labs/4 lab/4-1.sql",
        "labs/4 lab/4-2.sql",
        "labs/4 lab/4-3.sql"
      ]
    },
    {
      "path": "views/labs/5-lab.pug",
      "imports": [
        "labs/5 lab/5-1.sql",
        "labs/5 lab/5-2.sql"
      ]
    },
    {
      "path": "views/labs/6-lab.pug",
      "imports": [
        "labs/6 lab/6-1.sql",
        "labs/6 lab/6-2.sql",
        "labs/6 lab/6-3.sql"
      ]
    },
    {
      "path": "views/labs/7-lab.pug",
      "imports": [
        "labs/7 lab/7-1.sql",
        "labs/7 lab/7-2.sql",
        "labs/7 lab/7-3.sql"
      ]
    },
    {
      "path": "views/labs/8-lab.pug",
      "imports": [
        "labs/8 lab/8-1.sql",
        "labs/8 lab/8-2.sql"
      ]
    },
    {
      "path": "views/templates/block.pug",
      "imports": [
        "views/templates/mixins.pug",
        "views/templates/contents.pug",
        "views/templates/head.pug",
        "views/templates/scripts.pug"
      ]
    },
    {
      "path": "views/templates/extra.pug",
      "imports": [
        "views/templates/mixins.pug",
        "views/templates/contents.pug",
        "views/templates/head.pug",
        "views/templates/scripts.pug"
      ]
    },
    {
      "path": "sass/main.sass",
      "imports": [
        "sass/prism.scss",
        "sass/_menu.sass"
      ]
    },
    {
      "path": "views/3-block.pug",
      "imports": [
        "views/templates/block.pug",
        "views/labs/9-lab.pug",
        "views/labs/10-lab.pug",
        "views/labs/11-lab.pug",
        "views/labs/12-lab.pug",
        "views/labs/13-lab.pug",
        "views/templates/mixins.pug",
        "views/templates/contents.pug",
        "views/templates/head.pug",
        "views/templates/menu.pug",
        "views/templates/scripts.pug",
        "labs/9 lab/9-1.sql",
        "labs/9 lab/9-2.sql",
        "labs/9 lab/9-3.sql",
        "labs/9 lab/9-4.sql",
        "labs/9 lab/9-4-lookup.sql",
        "labs/10 lab/10-1.sql",
        "labs/10 lab/10-1-lookup.sql",
        "labs/10 lab/10-2.sql",
        "labs/10 lab/10-2-lookup.sql",
        "labs/10 lab/10-3.sql",
        "labs/12 lab/12-1-package.sql",
        "labs/12 lab/12-1-body.sql",
        "labs/12 lab/12-2-package.sql",
        "labs/12 lab/12-2-body.sql",
        "labs/13 lab/13-5-package.sql",
        "labs/13 lab/13-5-body.sql"
      ]
    },
    {
      "path": "views/2-26.pug",
      "imports": [
        "views/templates/extra.pug",
        "views/extras/2-26.sql",
        "views/templates/mixins.pug",
        "views/templates/contents.pug",
        "views/templates/head.pug",
        "views/templates/menu.pug",
        "views/templates/scripts.pug"
      ]
    },
    {
      "path": "views/3-14.pug",
      "imports": [
        "views/templates/extra.pug",
        "views/extras/3-14.sql",
        "views/templates/mixins.pug",
        "views/templates/contents.pug",
        "views/templates/head.pug",
        "views/templates/menu.pug",
        "views/templates/scripts.pug"
      ]
    },
    {
      "path": "views/4-block.pug",
      "imports": [
        "views/templates/block.pug",
        "views/labs/14-lab.pug",
        "views/labs/15-lab.pug",
        "views/labs/16-lab.pug",
        "views/labs/17-lab.pug",
        "views/templates/mixins.pug",
        "views/templates/contents.pug",
        "views/templates/head.pug",
        "views/templates/menu.pug",
        "views/templates/scripts.pug",
        "labs/14 lab/14-1.sql",
        "labs/15 lab/15-1-head.sql",
        "labs/15 lab/15-1-body.sql",
        "labs/15 lab/15-2-head.sql",
        "labs/15 lab/15-2-body.sql",
        "labs/16 lab/16-1-head.sql",
        "labs/16 lab/16-1-body.sql",
        "labs/17 lab/17-1.sql",
        "labs/17 lab/17-3.sql",
        "labs/17 lab/17-4.sql"
      ]
    },
    {
      "path": "index.pug",
      "imports": [
        "views/templates/mixins.pug",
        "views/templates/contents.pug",
        "views/templates/head.pug",
        "synopsis/_contents.pug",
        "views/templates/footer.pug"
      ]
    },
    {
      "path": "synopsis/1-chapter.pug",
      "imports": [
        "synopsis/_synopsis.pug",
        "views/templates/mixins.pug",
        "views/templates/contents.pug",
        "synopsis/_contents.pug",
        "views/templates/head.pug",
        "views/templates/menu.pug",
        "views/templates/scripts.pug"
      ]
    },
    {
      "path": "synopsis/_synopsis.pug",
      "imports": [
        "views/templates/mixins.pug",
        "views/templates/contents.pug",
        "views/templates/head.pug",
        "views/templates/menu.pug",
        "views/templates/scripts.pug"
      ]
    },
    {
      "path": "synopsis/2-chapter.pug",
      "imports": [
        "synopsis/_synopsis.pug",
        "views/templates/mixins.pug",
        "views/templates/contents.pug",
        "synopsis/_contents.pug",
        "views/templates/head.pug",
        "views/templates/menu.pug",
        "views/templates/scripts.pug"
      ]
    },
    {
      "path": "synopsis/3-chapter.pug",
      "imports": [
        "synopsis/_synopsis.pug",
        "views/templates/mixins.pug",
        "views/templates/contents.pug",
        "synopsis/_contents.pug",
        "views/templates/head.pug",
        "views/templates/menu.pug",
        "views/templates/scripts.pug"
      ]
    },
    {
      "path": "synopsis/4-chapter.pug",
      "imports": [
        "synopsis/_synopsis.pug",
        "views/templates/mixins.pug",
        "views/templates/contents.pug",
        "synopsis/_contents.pug",
        "views/templates/head.pug",
        "views/templates/menu.pug",
        "views/templates/scripts.pug"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7879,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": false,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"],\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":true}}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"],\"output\":{\"replaceSegments\":[\"pug\",\"jade\",\"views\"],\"replaceSegmentsWith\":\"blocks\"},\"outputSuffix\":null}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"],\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false}}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"],\"autoCompile\":false}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": true,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}