- var lab_n = 14;
- var title = "Практическое занятие 14. Встроенные пакеты Oracle";

+lab
  +task("1", "Создайте процедуру <code>employee_report</code> для генерации сводной выборки из таблицы employees и сохранения ее в текстовом файле операционной системы с помощью стандартного пакета <code>UTL_FILE</code>. Отчет должен содержать информацию о сотрудниках, чья ежемесячная зарплата превышает среднюю зарплату по его отделу.")
    ul
      li Процедура должна принимать на вход 2 параметра. Первый параметр — <code>dir</code> — используется для передачи имени директории, в которую будет сохраняться файл с отчетом. Второй параметр передает имя файла, который будет создан в указанной директории. <br>
        p В качестве имени директории используйте <code>STUD_PLSQL</code>. <br>
        p <b>Примечание</b>: физическое расположение директории <code>\\Westfold\Student\PLSQL</code> — у вас есть права на просмотр файлов в этой директории по сети.
      li Создайте процедуру (в пакете <code>emp_pkg</code> или отдельно), в которую добавьте секцию для обработки ошибок.
      li В шапке отчета добавьте свою фамилию, номер группы и системное дату и время формирования отчета.
      li Запустите программу на исполнение, сформируйте второй параметр таким образом, чтобы имя Вашего отчета в директории было уникальным. Шаблон для формирования имени: <code>sal_rpt_XXXX_YYYY.txt</code>, где <code>XXXX</code> — это ваша учетная запись, а <code>YYYY</code> — текущее системное дата и время с точностью до секунды.


  +task("2", "Создайте новую процедуру <code>web_employee_report</code>.")
    ul
      li Процедура ничего не принимает на вход и, с помощью стандартного пакета <code>HTP</code>, генерирует отчет, подобный отчету из предыдущей процедуры, в формате HTML.
      li Для тестирования работы процедуры сначала выполните инструкции <code>SET SERVEROUTPUT ON</code>, затем выполните процедуру. Результат работы процедуры будет помещен в буфер. Исполните <code>OWA_UTIL.SHOWPAGE</code>, чтобы вывести содержимое буфера на экран.
      li Вручную создайте файл <code>web_employee_report_USERNAME_SYSDATE.html</code>, скопируйте из <code>SQL Developer</code> и вставьте в него результат работы процедуры. Сохраните файл в своем каталоге в папке <code>WORKDATA</code>.


  +task("3", "С помощью пакета <code>DBMS_SCHEDULER</code> создайте задание, для регулярной генерации отчетов в формате текстовых файлов, которое по указанному расписанию запускает на исполнение процедуру <code>employee_report</code>.")
    ul
      li Создайте хранимую процедуру <code>schedule_report</code>, которая принимает на вход частоту повторений запуска задания (интервал) и длительность выполнения задания в минутах (по умолчанию — 10).
      li В теле процедуры создайте задание с именем <code>empsal_report</code>, которое должно представлять собой анонимный блок, запускающийся на исполнение сразу же после вызова процедуры <code>schedule_report</code>.
        p Задание должно вызывать процедуру <code>employee_report</code> (имя файла для сохранения отчёта должно генерироваться по указанным в задании 5.2 правилам, в качестве имени директории используйте <code>STUD_PLSQL</code>). Для хранения текста анонимного блока (тела задания) используйте локальную переменную <code>plsql_block</code> типа <code>VARCHAR2(200)</code>.
        p Сформируйте параметр <code>end_date</code> следующим образом: длительность выполнения задания в минутах разделите на количество минут в сутках и прибавьте получившееся значение к текущему значению даты и времени.
      li Протестируйте работу процедуры <code>schedule_report</code>. Создайте задание, запускающее процедуру на исполнение каждые 2 минуты в течение 6 минут.
      li После запуска процедуры просмотрите содержимое системной таблички <code>USER_SCHEDULER_JOBS</code>. Убедитесь, что там есть информация о задании. Просмотрите каталог <code>\\Westfold\Student\PLSQL</code>. Там должно появиться несколько отчетов с вашим именем.