- var lab_n = 15;
- var title = "Практическое занятие 15. Использование динамического SQL";


+lab
  +task("1", "Создайте пакет <code class='language-plsql'>table_pkg</code>, с помощью которого можно создавать и удалять таблицы, модифицировать, добавлять и удалять записи из таблиц с помощью Native Dynamic SQL.")
    ul
      li Создайте спецификацию пакета со следующими процедурами:
        ul
          li процедура для создания таблиц. Входные параметры — имя таблицы и спецификация столбцов:
            +plsql.
              PROCEDURE make(table_name VARCHAR2, col_specs VARCHAR2);
          li процедура для вставки записей в таблицу принимает на вход имя таблицы, список столбцов, значения:
            +plsql.
              PROCEDURE add_row(table_name VARCHAR2, col_values VARCHAR2, cols VARCHAR2 := NULL);
          li процедура для изменения записей в таблице принимает на вход название таблицы, условие отбора изменяемых записей, инструкции модификации:
            +plsql.
              PROCEDURE upd_row(table_name VARCHAR2, set_values VARCHAR2, conditions VARCHAR2 := NULL);
          li процедура для удаления записей из таблицы:
            +plsql.
              PROCEDURE del_row(table_name VARCHAR2, conditions VARCHAR2 := NULL);
          li процедура для удаления (<code class='language-plsql'>DROP</code>) таблицы:
            +plsql.
              PROCEDURE remove(table_name VARCHAR2);
        li Создайте тело пакета, в котором все перечисленные процедуры, кроме <code class='language-plsql'>remove</code> должны быть реализованы с использованием Native Dynamic SQL. Для реализации процедуры <code class='language-plsql'>remove</code> используйте <code class='language-plsql'>DBMS_SQL</code>.
        li Протестируйте работу пакета. Выполните процедуру 
          +plsql.
            table_pkg.make('my_contacts', 'id number(4), name varchar2(40)');
        li Воспользуйтесь оператором <code class='language-plsql'>DESCRIBE</code> для просмотра структуры созданной таблицы. Убедитесь, что все создано правильно.
        li Выполните процедуру <code class='language-plsql'>add_row</code> 4 раза, чтобы добавить в новую таблицу 4 записи (указанные значения необходимо передавать в столбцы <code class='language-plsql'>ID</code> и <code class='language-plsql'>Name</code> соответственно):
          <row class="aligment-center"><table class="table table-SQL table-bordered table-hover table-sm"><tbody><tr><td>1</td><td>Lauran Serhal</td></tr><tr><td>2</td><td>Nancy</td></tr><tr><td>3</td><td>Sunitha Patel</td></tr><tr><td>4</td><td>Valli Pataballa</td></tr></tbody></table></row>
        li С помощью оператора <code class='language-plsql'>SELECT</code> убедитесь, что записи добавлены в таблицу.
        li С помощью процедуры <code class='language-plsql'>del_row</code> удалите запись со значением <code class='language-plsql'>ID = 3</code>.
        li С помощью процедуры <code class='language-plsql'>upd_row</code> измените значение столбца <code class='language-plsql'>Name</code> на <code class='language-plsql'>'Nancy Greenderg'</code> для записи с <code class='language-plsql'>ID = 2</code>. Проверьте с помощью <code class='language-plsql'>SELECT</code>, что все выполняется правильно.
        li С помощью процедуры <code class='language-plsql'>table_pkg.remove</code> удалите таблицу <code class='language-plsql'>My_Contacts</code>.

    +plsql
      include ../../labs/15 lab/15-1-head.sql
    +output.
      Package created.

    +plsql
      include ../../labs/15 lab/15-1-body.sql
    +output.
      Package body created.

    +plsql.
      EXECUTE table_pkg.make('my_contacts', 'id number(4), name varchar2(40)');
    +output.
      PL/SQL procedure successfully completed.

    +plsql.
      DESCRIBE My_Contacts;
    +output.
      Name Null? Type         
      ---- ----- ------------ 
      ID         NUMBER(4)    
      NAME       VARCHAR2(40) 

    +plsql.
      EXECUTE table_pkg.add_row('my_contacts', '1, ''Lauran Serhal''');
      EXECUTE table_pkg.add_row('my_contacts', '2, ''Nancy''');
      EXECUTE table_pkg.add_row('my_contacts', '3, ''Sunitha Patel''');
      EXECUTE table_pkg.add_row('my_contacts', '4, ''Valli Pataballa''');

      SELECT * FROM My_Contacts;

    <row class="aligment-center"><table class="table table-SQL table-bordered table-hover table-sm"><thead class="thead-dark"><tr><th>ID</th><th>NAME</th></tr></thead><tbody><tr><td>1</td><td>Lauran Serhal</td></tr><tr><td>2</td><td>Nancy</td></tr><tr><td>3</td><td>Sunitha Patel</td></tr><tr><td>4</td><td>Valli Pataballa</td></tr></tbody></table></row>

    +plsql.
      EXECUTE table_pkg.del_row('my_contacts', 'ID = 3');
      SELECT * FROM My_Contacts;
    
    <row class="aligment-center"><table class="table table-SQL table-bordered table-hover table-sm"><thead class="thead-dark"><tr><th>ID</th><th>NAME</th></tr></thead><tbody><tr><td>1</td><td>Lauran Serhal</td></tr><tr><td>2</td><td>Nancy</td></tr><tr><td>4</td><td>Valli Pataballa</td></tr></tbody></table></row>

    +plsql.
      EXECUTE table_pkg.upd_row('my_contacts', 'Name = ''Nancy Greenderg''', 'ID = 2');
      SELECT * FROM My_Contacts;
    
    <row class="aligment-center"><table class="table table-SQL table-bordered table-hover table-sm"><thead class="thead-dark"><tr><th>ID</th><th>NAME</th></tr></thead><tbody><tr><td>1</td><td>Lauran Serhal</td></tr><tr><td>2</td><td>Nancy Greenderg</td></tr><tr><td>4</td><td>Valli Pataballa</td></tr></tbody></table></row>

    +plsql.
      EXECUTE table_pkg.remove('my_contacts');
    +output.
      PL/SQL procedure successfully completed.


  +task("2", "Создайте пакет <code class='language-plsql'>compile_pkg</code>, для перекомпиляции именованных блоков кода в вашей схеме.")
    ul
      li В спецификации пакета опишите процедуру <code class='language-plsql'>make</code>, которая принимает на вход имя программной единицы, которую необходимо скомпилировать.
        li В теле пакета:
          ul
            li Опишите <code class='language-plsql'>private</code> функцию <code class='language-plsql'>get_type</code>, которая по имени блока извлечет из системных словарей его тип. 
              ul
                li Если имя объекта не будет найдено в системных словарях, функция должна вернуть <code class='language-plsql'>NULL</code>. 
                li Учтите, что для пакетов в системных словарях фиксируется по одному имени 2 объекта: <code class='language-plsql'>PACKAGE</code> и <code class='language-plsql'>PACKAGE BODY</code>. Функция должна возвращать только <code class='language-plsql'>PACKAGE</code>.

            li Создайте тело процедуры <code class='language-plsql'>make</code> следующим образом:
              ul
                li Один входной параметр <code class='language-plsql'>name</code> для передачи имени программного модуля.
                li С помощью функции <code class='language-plsql'>get_type</code> узнайте тип программного модуля и воспользуйтесь им для формирования инструкции перекомпиляции. Если объект не найден в системных словарях в процессе работы функции <code class='language-plsql'>get_type</code> — выдайте пользовательское сообщение об ошибке.
        li Протестируйте работу процедуры <code class='language-plsql'>compile_pkg.make</code> на примере:
          ul
            li процедуры <code class='language-plsql'>web_employee_report</code>,
            li пакета <code class='language-plsql'>emp_pkg</code>,
            li несуществующего объекта <code class='language-plsql'>emp_details</code> (зафиксируйте сообщение об ошибке).

    +plsql
      include ../../labs/15 lab/15-2-head.sql
    +output.
      Package created.

    +plsql
      include ../../labs/15 lab/15-2-body.sql
    +output.
      Package body created.

    +output.
      Compiled web_employee_report.
      Compiled emp_pkg's specification and body.
      compile_pkg.make('emp_details') error:
      - the type of emp_details was not found.