- var lab_n = 19;
- var title = "Практическое занятие 19. Использование компилятора PL/SQL";


+lab
  +task("1", "Запустите скрипт с именем <code>lab_10_01.sql</code>. Создайте и выполните запрос для осуществления выборки из словаря <code class='language-plsql'>USER_PLSQL_OBJECT_SETTINGS</code> следующей информации о параметрах инициализации, влияющих на компиляцию кода:")
    ul
      li Имя объекта.
      li Тип объекта.
      li Был ли объект #[+pl('\'compiled for debugging\'')].
      li Режим компиляции объекта.
      li Уровень оптимизации компиляции.
    p Зафиксируйте результат. Обратите внимание на информацию об объекте #[+pl('add_job_history')].

  p Скрипт <code>lab_10_01.sql</code>:

  +plsql
    include ../../scripts/lab_10_01.sql
  +output.
    Procedure created.

  +plsql.
    SELECT Name, Type, PLSQL_Debug, PLSQL_Code_Type, PLSQL_Optimize_Level
    FROM USER_PLSQL_OBJECT_SETTINGS;
  <row class="aligment-center"><table class="table table-SQL table-bordered table-hover table-sm"><thead class="thead-dark"><tr><th>NAME</th><th>TYPE</th><th>PLSQL_DEBUG</th><th>PLSQL_CODE_TYPE</th><th>PLSQL_OPTIMIZE_LEVEL</th></tr></thead><tbody><tr><td>ADD_EMPLOYEE</td><td>PROCEDURE</td><td>FALSE</td><td>INTERPRETED</td><td>2</td></tr><tr><td><em class="correct">ADD_JOB_HISTORY</em></td><td><em class="correct">PROCEDURE</em></td><td><em class="correct">FALSE</em></td><td><em class="correct">INTERPRETED</em></td><td><em class="correct">2</em></td></tr><tr><td>CHECK_SALARY</td><td>PROCEDURE</td><td>FALSE</td><td>INTERPRETED</td><td>2</td></tr><tr><td>...</td><td>...</td><td>...</td><td>...</td><td>...</td></tr><tr><td>VALID_DEPTID</td><td>FUNCTION</td><td>FALSE</td><td>INTERPRETED</td><td>2</td></tr><tr><td>WEB_EMPLOYEE_REPORT</td><td>PROCEDURE</td><td>FALSE</td><td>INTERPRETED</td><td>2</td></tr></tbody></table></row>


  +task("2", "Измените значение параметра <code class='language-plsql'>plsql_code_type</code> для текущей сессии и скомпилируйте объект <code class='language-plsql'>add_job_history</code>.")
    ul
      li Выполните команду #[+pl('ALTER SESSION')] для разрешения <code>native compilation</code>.
      li Перекомпилируйте объект #[+pl('add_job_history')].
      li Выполните запрос из задачи 19.1 ещё раз. Зафиксируйте результат. Отметьте, что изменилось.
      li Верните обратно прежний режим компиляции.

    +plsql.
      ALTER SESSION SET PLSQL_CODE_TYPE = 'NATIVE';
      ALTER PROCEDURE add_job_history COMPILE;
    +output.
      Session altered.
      Procedure altered.
    +plsql.
      SELECT Name, Type, PLSQL_Debug, PLSQL_Code_Type, PLSQL_Optimize_Level
      FROM USER_PLSQL_OBJECT_SETTINGS;
    <row class="aligment-center"><table class="table table-SQL table-bordered table-hover table-sm"><thead class="thead-dark"><tr><th>NAME</th><th>TYPE</th><th>PLSQL_DEBUG</th><th>PLSQL_CODE_TYPE</th><th>PLSQL_OPTIMIZE_LEVEL</th></tr></thead><tbody><tr><td>ADD_EMPLOYEE</td><td>PROCEDURE</td><td>FALSE</td><td>INTERPRETED</td><td>2</td></tr><tr><td>ADD_JOB_HISTORY</td><td>PROCEDURE</td><td>FALSE</td><td><em class="correct">NATIVE</em></td><td>2</td></tr><tr><td>CHECK_SALARY</td><td>PROCEDURE</td><td>FALSE</td><td>INTERPRETED</td><td>2</td></tr><tr><td>...</td><td>...</td><td>...</td><td>...</td><td>...</td></tr><tr><td>VALID_DEPTID</td><td>FUNCTION</td><td>FALSE</td><td>INTERPRETED</td><td>2</td></tr><tr><td>WEB_EMPLOYEE_REPORT</td><td>PROCEDURE</td><td>FALSE</td><td>INTERPRETED</td><td>2</td></tr></tbody></table></row>

    +plsql.
      ALTER SESSION SET PLSQL_CODE_TYPE = 'INTERPRETED';
      ALTER PROCEDURE add_job_history COMPILE;
    +output.
      Session altered.
      Procedure altered.


  +task("3", "С помощью <code>Tools -> Preference -> Database -> PL/SQL Compiler</code> отключите все категории <code>compiler warnings</code>.")
    ul
      li Отредактируйте, просмотрите и выполните скрипт <code>lab_10_04.sql</code> для создания процедуры #[+pl('unreachable_code')]. Перекомпилируйте процедуру после создания.
      li Удалось ли вам получить какие-то сообщения об ошибках или предупреждения на вкладке <code>Compiler — Log</code>?

    +plsql.
      ALTER SESSION SET PLSQL_WARNINGS = 'disable:all';
    +output.
      Session altered.

    p Скрипт <code>lab_10_04.sql</code>:
    +plsql
      include ../../scripts/lab_10_04.sql
    +output.
      Procedure created.

    p Сообщений об ошибках или предупреждений не было.


  +task("4", "С помощью <code>Tools -> Preference -> PL/SQL Compiler Options</code> включите отображение всех предупреждений компилятора.")
    ul
      li Перекомпилируйте процедуру <code class='language-plsql'>unreachable_code</code>. 
      li Что отобразилось на вкладке <code>Compiler — Log?</code> (Вы так же можете воспользоваться словарем <code class='language-plsql'>USER_ERRORS</code>).

    +plsql.
      ALTER SESSION SET PLSQL_WARNINGS = 'enable:all';
    +output.
      Session altered.

    +plsql
      include ../../scripts/lab_10_04.sql

    +output('error-code').
      1:1:PLW-05018: в блоке UNREACHABLE_CODE опущена необязательная фраза AUTHID; используется значение по умолчанию DEFINER
      7:5:PLW-06002: Недоступный код

  +task("5", "Создайте скрипт с именем <code class='language-plsql'>warning_msgs</code>, в котором используется <code class='language-plsql'>EXECUTE</code> в сочетании с процедурами из пакетов <code class='language-plsql'>DBMS_OUTPUT</code> и <code class='language-plsql'>DBMS_WARNING</code> для идентификации категорий следующих сообщений: <code>5050, 6075, 7100</code>.")