- var lab_n = 4;
- var title = "Практическое занятие 4. Взаимодействие с сервером Oracle";

+lab
  ul
    li Раздел <code>INTO</code> для сохранения результатов команд SQL.
    li Явные и неявные курсоры.
    li Атрибуты неявных курсоров.

  +task("1", "Создайте скрипт для выборки максимального номера отдела, сохраните его в переменной <code>max_deptno</code>, распечатайте полученное значение:")
    ul
      li Декларируйте переменную <code>max_deptno</code> типа <code>NUMBER</code>.
      li В исполняемой секции блока выберите максимальное значение номера отдела и сохраните его в переменной.
      li Распечатайте значение переменной в конце исполняемой секции.
      li Сохраните результат в файле <code>lab_04_01_soln.sql</code>.
      li Результат должен выглядеть примерно так:
      +output.
        The maximum department_id is: 270
        PL/SQL procedure successfully completed.

  +task("2", "Измените скрипт из упражнения 1.")
    ul
      li В скрипте <code>lab_04_01_soln.sql</code> декларируйте две переменные: <code>dept_name</code> такого же типа, что и столбец <code>departments.department_name</code> и связанную переменную <code>dept_id</code> типа <code>NUMBER</code>.
      li Присвойте переменной <code>dept_name</code> значение «<code>Education</code>» в секции декларации.
      li Прибавьте к полученному максимальному значению номера отдела <code>10</code> и присвойте полученную цифру в переменную <code>dept_id</code>.
      li Воспользуйтесь значениями переменных <code>dept_name</code> и <code>dept_id</code> в инструкции <code>INSERT</code> в таблицу <code>departments</code>. Для заполнения столбца <code>location_id</code> используйте <code>NULL</code> значение.
      li С помощью атрибута <code>SQL%ROWCOUNT</code> узнайте количество строк обработанных инструкцией <code>INSERT</code>.
      li С помощью <code>SELECT</code> инструкции убедитесь, что строчка добавлена.
      li Сохраните скрипт в файле <code>lab_04_02_soln.sql</code>.

  +task("3", "С помощью инструкции <code>UPDATE</code> измените значение <code>location_id</code>, для вновь добавленного отдела на <code>3000</code>. Продолжите работу с предыдущим скриптом.")
    ul
      li В исполняемой секции блока выполните инструкцию <code>UPDATE</code>.
      li Выведите новое состояние записи с помощью инструкции <code>SELECT</code>.
      li После проверки удалите добавленную строку.
      li Сохраните скрипт под именем <code>lab_04_03_soln.sql</code>.