- var lab_n = 8;
- var title = "Практическое занятие 8. Обработка исключений";

+lab
  ul
    li Предопределенные исключения Oracle.
    li Функция <code>PRAGMA_EXCEPTION_INIT</code>.
    li Функции <code>SQLCODE</code> и <code>SQLERRM</code>.
    li Распространение исключений в подблоках.
    li Процедура <code>RAISE_APPLICATION_ERROR</code>.
    li Команда <code>RAISE</code>.

  +task("1", "Основная задача этого упражнения — продемонстрировать использование предопределенных исключений. Напишите PL/SQL блок для выборки сотрудников с определенной зарплатой.")
    ul
      li Удалите все записи из таблицы <code>messages</code>. С помощью директивы <code>DEFINE</code> определите переменную <code>sal</code> и инициализируйте ее значением <code>6000</code>.
      li В секции декларации исполняемого блока определите переменную <code>ename</code> типа <code>employees.last_name%TYPE</code> и переменную <code>emp_sal</code> типа <code>employees.salary%TYPE</code> и инициализируйте ее с помощью подстановочной переменной <code>&sal</code>.
      li В исполняемой секции выберите фамилии тех сотрудников, чьи зарплаты равны значению переменной <code>emp_sal</code>. Не используйте явных курсоров! Если выборка вернет одну строку — добавьте в таблицу <code>messages</code> имя и зарплату сотрудника.
      li Если для заданного значения зарплаты не найдено соответствующих записей или найдено несколько записей, обработайте соответствующие исключительные ситуации, и добавьте в таблицу <code>messages</code> записи «<code>No employee with a salary of &ltsalary&gt</code>» или «<code>More than one employee with a salary of &ltsalary&gt</code>».
      li Просмотрите таблицу <code>messages</code>, чтобы оценить успешно или нет отработал PL/SQL блок.
    +plsql
      include ../../labs/8 lab/8-1.sql
    <row class="aligment-center"><table class="table table-SQL table-bordered table-hover table-sm"><thead class="thead-dark"><tr><th>RESULTS</th></tr></thead><tbody><tr><td>More than one employee with a salary of 6000</td></tr></tbody></table></row>

  +task("2", "В этом упражнении вы посмотрите, как создавать именованные исключения для стандартных системных ошибок Oracle сервера <code>ORA-02292</code> (нарушение ограничений целостности).")
    ul
      li В декларативной секции объявите <code>childrecord_exists</code> типа <code>EXCEPTION</code>. Проассоциируйте эту переменную со стандартной ошибкой Oracle <code>-02292</code>. Воспользуйтесь инструкцией <code>PRAGMA EXCEPTION_INIT</code>.
      li В исполняемой секции блока напечатайте сообщение «<code>Deleting department 40........</code>» и выполните инструкцию <code>DELETE</code> для удаления отдела с <code>department_id</code> равным <code>40</code>.
      li Добавьте секцию перехвата и обработки ошибок и поймайте в ней <code>childrecord_exists</code>. При обработке ошибке выведите соответствующее сообщение («<code>Cannot delete this department. There are employees in this department</code>»).
    +plsql
      include ../../labs/8 lab/8-2.sql
    +output.
      Deleting department 40........
      Cannot delete this department. There are employees in this department