extends templates/block.pug

block head
  title PL/SQL Лабы. Блок 1

block content
  .header
    h2 Первый Блок

  include labs/1-lab.pug
  include labs/2-lab.pug
  include labs/3-lab.pug
  include labs/4-lab.pug

block contents
  +contents([[1, 2], [2, 5], [3, 5], [4, 3]])