extends templates/block.pug

block head
  title PL/SQL Лабы. Блок 2

block content
  .header
    h2 Второй Блок

  include labs/5-lab.pug
  include labs/6-lab.pug
  include labs/7-lab.pug
  include labs/8-lab.pug

block contents
  +contents([[5, 2], [6, 3], [7, 3], [8, 2]])