extends templates/block.pug

block head
  title PL/SQL Лабы. Блок 3

block content
  .header
    h1 Третий Блок

  include labs/9-lab.pug
  include labs/10-lab.pug
  include labs/11-lab.pug
  include labs/12-lab.pug

block contents
  +contents([[9, 4], [10, 3], [11, 16], [12, 2]])