mixin contents(tasks)
  each val in tasks
    a.element(href="#lab-" + val[0])
      .icon-part #{val[0]}.
      .text-part лабораторная
    - for (var i = 1; i <= val[1]; i++)
      a.element.sub(
        id="contents-task-" + val[0] + "-" + i
        href="#task-" + val[0] + "-" + i
      )
        .icon-part #{i}.
        .text-part задание

mixin extraContents
  a.element(href="#task")
    .icon-part
      <i class="fas fa-thumbtack"></i>
    .text-part Задача
  a.element(href="#solution")
    .icon-part
      <i class="fas fa-code"></i>
    .text-part Решение
  a.element(href="#result")
    .icon-part
      <i class="fas fa-poll-h"></i>
    .text-part Результат