include _mixins.pug
include _contents.pug

- var css = './../css/';
- var img = './../img/';
- var js  = './../js/';

doctype html
html(lang='ru')
  head
    block head
    include _head.pug
  body
    include _menu.pug

    #main
      .labs
        block content

    include _scripts.pug