footer.page-footer.font-small
  .footer-copyright.text-center.py-3 © Влад Фурман, 2019
    .row
      .col-md-3
        a(href="#") <i class="fas fa-envelope-open-text"></i> Blowlyge@gmail.com
      .col-md-3
        <a href="https://vk.com/whatislove_furman"><i class="fab fa-vk"></i> Я в VK</a>
      .col-md-3
        <a href="https://github.com/Ruminat"><i class="fab fa-github"></i> Я на GitHub</a>
      .col-md-3
        <a href="https://github.com/Ruminat/PL-SQL-labs"><i class="fab fa-github"></i> Репозиторий</a>