mixin lab
  div(class="lab" id="lab-"+lab_n)
    a(name="#lab-" + lab_n): h4= title
    block

mixin pl(text)
  code(class="language-plsql") #{text}

mixin task(task_n, text)
  div(class="task" id="task-" + lab_n + "-" + task_n)
    p(name="task-" + lab_n + "-" + task_n class="task-text") <b>Задание #{task_n}.</b> !{text}
    block

mixin plsql(classes)
  pre(class="line-numbers " + classes)
    code(class="language-plsql")
      block

mixin output(classes)
  pre(class=classes)
    code(class="language-output")
      block