include mixins.pug
include contents.pug

doctype htmls
html(lang='ru')
  head
    block head
    include head.pug
  body
    .container-fluid
      .row
        .col-md-9
          .labs
            block content

        .col-md-3
          .menu
            h3 Оглавление
            a(href="../index.html"): h6 На главную
            block contents

    //- include footer.pug

    include scripts.pug