include mixins.pug
include contents.pug

doctype htmls
html(lang='ru')
  head
    block head
    include head.pug
  body
    .menu
      a(href="../index.html"): .element.link
        img(src="../img/icons/home.png" class="icon")
        | На главную
      a(href="https://github.com/Ruminat/PL-SQL-labs"): .element.link
        img(src="../img/icons/github.png" class="icon")
        | GitHub
      block contents

    .main
      .labs
        block content

    include scripts.pug