include mixins.pug
include contents.pug

doctype htmls
html(lang='ru')
  head
    block head
    include head.pug
  body
    include menu.pug

    #main
      .labs
        block content

    include scripts.pug