meta(charset="UTF-8")
link(rel="icon", href="../img/common/database.png")
link(rel="stylesheet", href="../dependencies/bootstrap/bootstrap.min.css")
link(rel="stylesheet", href="../dependencies/prism/prism.css")
link(rel="stylesheet", href="../css/main.css")