nav#menu
  a#menu-switch.element
    .icon-part <i class="fas fa-bars"></i>
    .text-part
  a.element(href="../index.html")
    .icon-part <i class="fas fa-home"></i>
    .text-part На главную
  a.element.link(href="https://github.com/Ruminat/PL-SQL-labs")
    .icon-part
      <i class="fab fa-github"></i>
    .text-part GitHub
  block contents