nav#menu
  a#menu-switch.element
    .icon-part
      img(src="../img/icons/menu.png" class="icon")
    .text-part
  a.element(href="../index.html")
    .icon-part
      img(src="../img/icons/home.png" class="icon")
    .text-part На главную
  a.element.link(href="https://github.com/Ruminat/PL-SQL-labs")
    .icon-part
      img(src="../img/icons/github.png" class="icon")
    .text-part GitHub
  block contents