<!DOCTYPE htmls>
<html lang="ru">
  <head>
    <meta charset="UTF-8"/>
    <link rel="icon" href="../img/common/database.png"/>
    <link rel="stylesheet" href="../dependencies/bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="../dependencies/prism/prism.css"/>
    <link rel="stylesheet" href="../css/main.css"/>
  </head>
  <body>
    <div class="container"><a href="../index.html">
        <h6>На главную</h6></a>
    </div>
    <script src="../dependencies/prism/prism.js"></script>
    <script src="../js/setup.js"></script>
    <script src="../js/main.js"></script>
  </body>
</html>