extends _synopsis.pug


block head
  - var chap = chapters[8];
  
  title #{chap.number}. #{chap.title}

block content
  .header
    h2 #{chap.number}. #{chap.title}

  +section('Обзор зависимостей объектов схемы')

  p Тело пакета может быть только зависимым от чего-либо, на последовательность можно только ссылаться. Для остальных объектов БД возможно и то, и другое. 

  //- <row class="aligment-center"><table class="table table-SQL table-bordered table-hover table-sm"><thead class="thead-dark"><tr><th>Тип Объекта</th><th>Может быть зависимым или на него можно ссылаться</th></tr></thead><tbody><tr><td>Тело пакета</td><td>Только зависимым</td></tr><tr><td>Спецификация пакета</td><td>И то, и другое</td></tr><tr><td>Последовательность</td><td>Только ссылаться</td></tr><tr><td>Подпрограмма</td><td>И то, и другое</td></tr><tr><td>Синоним</td><td>И то, и другое</td></tr><tr><td>Таблица</td><td>И то, и другое</td></tr><tr><td>Триггер</td><td>И то, и другое</td></tr><tr><td>Пользовательский объек</td><td>И то, и другое</td></tr><tr><td>Пользовательская коллекци</td><td>И то, и другое</td></tr><tr><td>Представление</td><td>И то, и другое</td></tr></tbody></table></row>

  p Посмотреть прямые зависимости можно в словаре #[+pl('USER_DEPENDENCIES')].

  p Каждый объект базы данных имеет одно из следующих значений статуса:
  ul
    li #[+pl('VALID')] — объект был успешно скомпилирован с использованием текущего определения в словаре данных.
    li #[+pl('INVALID')] — объект помечен как недопустимый, поскольку объект, на который он ссылается, изменился (только для зависимых объектов).
    li #[+pl('COMPILED WITH ERRORS')] — последняя попытка компиляции объекта привела к ошибкам.
    li #[+pl('UNAUTHORIZED')] — право доступа на указанный объект было отозвано (только для зависимых объектов).

  p Статусы объектов можно посмотреть в словаре #[+pl('USER_OBJECTS')], однако статусы #[+pl('COMPILED WITH ERRORS')] и #[+pl('UNAUTHORIZED')] там отображаются как #[+pl('INVALID')].


  p Недостоверность зависимых объектов:
  ul
    li Если процедура A напрямую зависит от представления B, которое напрямую зависит от таблицы C, то A косвенно зависит от C.
      ul
        li (<code>A -> B, B -> C => A ~> C</code>).
    li Напрямую зависимые объекты становятся недействительными только в результате изменений объекта, на который они ссылаются.
    li Косвенно зависимые объекты могут быть признаны недействительными из-за изменений ссылочного объекта, который на них не влияет.

  p.comment (TODO).