extends _synopsis.pug


block head
  - var chap = chapters[8];
  
  title #{chap.number}. #{chap.title}

block content
  .header
    h2 #{chap.number}. #{chap.title}

  +section('Обзор зависимостей объектов схемы')

  <row class="aligment-center"><table class="table table-SQL table-bordered table-hover table-sm"><thead class="thead-dark"><tr><th>Тип Объекта</th><th>Может быть зависимым или на него можно ссылаться</th></tr></thead><tbody><tr><td>Тело пакета</td><td>Только зависимым</td></tr><tr><td>Спецификация пакета</td><td>И то, и другое</td></tr><tr><td>Последовательность</td><td>Только ссылаться</td></tr><tr><td>Подпрограмма</td><td>И то, и другое</td></tr><tr><td>Синоним</td><td>И то, и другое</td></tr><tr><td>Таблица</td><td>И то, и другое</td></tr><tr><td>Триггер</td><td>И то, и другое</td></tr><tr><td>Пользовательский объек</td><td>И то, и другое</td></tr><tr><td>Пользовательская коллекци</td><td>И то, и другое</td></tr><tr><td>Представление</td><td>И то, и другое</td></tr></tbody></table></row>

  p Посмотреть прямые зависимости можно в словаре #[+pl('USER_DEPENDENCIES')].

  p Каждый объект базы данных имеет одно из следующих значений статуса:

  +sqlTable
    thead.thead-dark
      tr    
        th Статус
        th Значение
    tbody
      tr
        td #[+pl('VALID')]
        td Объект был успешно скомпилирован с использованием текущего определения в словаре данных.
      tr
        td #[+pl('COMPILED WITH ERRORS')]
        td Последняя попытка компиляции объекта привела к ошибкам.
      tr
        td #[+pl('INVALID')]
        td Объект помечен как недопустимый, поскольку объект, на который он ссылается, изменился (<b>Недопустимым может быть только зависимый объект</b>).
      tr
        td #[+pl('UNAUTHORIZED')]
        td Право доступа на указанный объект было отозвано (<b>Запрещённым может быть только зависимый объект</b>).

  p Недостоверность зависимых объектов:
  ul
    li Если процедура A напрямую зависит от представления B, которое напрямую зависит от таблицы C, то A косвенно зависит от C.
    li Напрямую зависимые объекты становятся недействительными только в результате изменений объекта, на который они ссылаются.
    li Косвенно зависимые объекты могут быть признаны недействительными из-за изменений ссылочного объекта, который на них (прямо) не влияет.

  p.comment (TODO).