- 
  var chapters = [
    {number: 1, title: '(TODO) Введение'}
  , {number: 2, title: '(TODO) Управляющие конструкции: IF, LOOP'}
  , {number: 3, title: '(TODO) Курсоры. Исключения'}
  , {number: 4, title: 'Функции, процедуры, пакеты'}
  ];