- 
  var chapters = [
    {number: 1, title: 'Введение'}
  , {number: 2, title: 'Управляющие конструкции: IF, LOOP'}
  , {number: 3, title: 'Курсоры. Исключения'}
  , {number: 4, title: 'Функции, процедуры, пакеты'}
  ];