- 
  var chapters = [
    {number: 1, title: '(TODO) Введение'}
  , {number: 2, title: '(TODO) Управляющие конструкции: IF, LOOP'}
  , {number: 3, title: '(TODO) Курсоры. Исключения'}
  , {number: 4, title: 'Функции, процедуры, пакеты'}
  , {number: 5, title: '(TODO) Динамический SQL'}
  , {number: 6, title: '(TODO) Конструирование SQL-кода'}
  , {number: 7, title: 'Триггеры'}
  , {number: 8, title: 'Компилятор PL/SQL'}
  , {number: 9, title: 'Обслуживание зависимостей'}
  ];