extends ../views/templates/_extra.pug

block head
  title Доп. задание 5.12

block content
  .labs
    .header
      h2 Дополнительное задание 5.12

  a(name="task"): h4 Постановка задачи

  p.task-text В таблицу Специальность добавить столбец #[+pl('Шифр_Специальности')]. Создать Compound-триггер, который при внесении или изменении названия специальности, будет вводить в соответствующую ячейку столбца #[+pl('Шифр_Специальности')] первые буквы каждого слова в названии специальности. Проверьте работу триггера при одновременном изменении нескольких записей одной командой #[+pl('UPDATE')] и одновременном внесении нескольких строк командой #[+pl('INSERT..SELECT')].

  a(name="solution"): h4 Решение

  p Добавим столбец #[+pl('Шифр_Специальности')]:

  +plsql.
    ALTER TABLE Специальности ADD (Шифр_Специальности VARCHAR2(40));
    SELECT * FROM Специальности;

  <row class="aligment-center"><table class="table table-SQL table-bordered table-hover table-sm"><thead class="thead-dark"><tr><th>КОД_СПЕЦИАЛЬНОСТИ</th><th>НАЗВАНИЕ_СПЕЦИАЛЬНОСТИ</th><th>ШИФР_СПЕЦИАЛЬНОСТИ</th></tr></thead><tbody><tr><td>1</td><td>СИСТЕМЫ АВТОМАТИЧЕСКОГО УПРАВЛЕНИЯ</td><td>(null)</td></tr><tr><td>2</td><td>МАТЕМАТИЧЕСКОЕ ОБЕСПЕЧЕНИЕ ЭВМ</td><td>(null)</td></tr><tr><td>3</td><td>ВЫЧИСЛИТЕЛЬНЫЕ СЕТИ И СИСТЕМЫ</td><td>(null)</td></tr><tr><td>4</td><td>ЭКОНОМИКА ПРЕДПРИЯТИЙ</td><td>(null)</td></tr></tbody></table></row>

  p Создадим триггер:

  +plsql
    include:escape-html sql/5-12.sql

  a(name="result"): h4 Результат

  p Добавим 3 строки:

  +plsql.
    INSERT INTO Специальности (Код_Специальности, Название_Специальности)
                SELECT 5, 'Программная инженерия'                FROM dual
      UNION ALL SELECT 6, 'Психолого-педагогическое образование' FROM dual
      UNION ALL SELECT 7, 'Ядерные физика и технологии'          FROM dual;

    SELECT * FROM Специальности
    ORDER BY Код_Специальности;

  <row class="aligment-center"><table class="table table-SQL table-bordered table-hover table-sm"><thead class="thead-dark"><tr><th>КОД_СПЕЦИАЛЬНОСТИ</th><th>НАЗВАНИЕ_СПЕЦИАЛЬНОСТИ</th><th>ШИФР_СПЕЦИАЛЬНОСТИ</th></tr></thead><tbody><tr><td>1</td><td>СИСТЕМЫ АВТОМАТИЧЕСКОГО УПРАВЛЕНИЯ</td><td>(null)</td></tr><tr><td>2</td><td>МАТЕМАТИЧЕСКОЕ ОБЕСПЕЧЕНИЕ ЭВМ</td><td>(null)</td></tr><tr><td>3</td><td>ВЫЧИСЛИТЕЛЬНЫЕ СЕТИ И СИСТЕМЫ</td><td>(null)</td></tr><tr><td>4</td><td>ЭКОНОМИКА ПРЕДПРИЯТИЙ</td><td>(null)</td></tr><tr><td>5</td><td>Программная инженерия</td><td>Пи</td></tr><tr><td>6</td><td>Психолого-педагогическое образование</td><td>По</td></tr><tr><td>7</td><td>Ядерные физика и технологии</td><td>Яфит</td></tr></tbody></table></row>

  p Заметим, что специальность «Психолого-педагогическое образование» получило шифр «По», т.к. психолого-педагогическое — одно слово в русском языке. Строки, которые были в таблице до #[+pl('INSERT')]'а не получили новый шифр, т.к. соответствующие фактические значения названий специальностей не изменились.

  p Обновим все строки таблицы:

  +plsql.
    UPDATE Специальности
    SET Название_Специальности = LOWER(Название_Специальности);

    SELECT * FROM Специальности
    ORDER BY Код_Специальности;

  <row class="aligment-center"><table class="table table-SQL table-bordered table-hover table-sm"><thead class="thead-dark"><tr><th>КОД_СПЕЦИАЛЬНОСТИ</th><th>НАЗВАНИЕ_СПЕЦИАЛЬНОСТИ</th><th>ШИФР_СПЕЦИАЛЬНОСТИ</th></tr></thead><tbody><tr><td>1</td><td>системы автоматического управления</td><td>сау</td></tr><tr><td>2</td><td>математическое обеспечение эвм</td><td>моэ</td></tr><tr><td>3</td><td>вычислительные сети и системы</td><td>всис</td></tr><tr><td>4</td><td>экономика предприятий</td><td>эп</td></tr><tr><td>5</td><td>программная инженерия</td><td>пи</td></tr><tr><td>6</td><td>психолого-педагогическое образование</td><td>по</td></tr><tr><td>7</td><td>ядерные физика и технологии</td><td>яфит</td></tr></tbody></table></row>

block contents
  +extraContents