extends ../views/templates/_extra.pug

block head
  title Доп. задание 5.17

block content
  .labs
    .header
      h2 Дополнительное задание 5.17

  a(name="task"): h4 Постановка задачи

  p.task-text Создать триггер, который при создании связи между существующим таблицами (команда #[+pl('ALTER TABLE')])  и создании таблицы со связью (команда #[+pl('CREATE TABLE')]) обеспечит режим каскадного обновления между таблицами. Триггер должен работать как при композитной, так и при рекурсивной связях. Проверить при одновременном изменении нескольких значений одной командой #[+pl('UPDATE')]. 

//-   a(name="solution"): h4 Решение

//-   //- +plsql
//-   //-   include:escape-html sql/4-8.sql
//-   p Вода. Земля. Огонь. Воздух. Моя бабушка любила рассказывать мне истории о прошлом, когда Аватар сохранял равновесие между Племенами Воды, Царством Земли, Народом Огня и Воздушными кочевниками. Всё изменилось, когда Народ Огня развязал войну. Только Аватар, властелин всех четырёх стихий, мог остановить безжалостные атаки магов огня. Но, когда мир нуждался в нём больше всего, он исчез. Прошло сто лет, и Народ Огня уже был близок к победе в войне. Два года назад мой отец и мои соплеменники отправились в Царство Земли, чтобы помочь им сражаться против Народа Огня, оставив меня и моего брата управлять племенем. Некоторые люди полагали, что Аватар никогда больше не возродится, и связь времён утеряна навсегда, но я не утратила надежду. Я верила, что Аватар всё же вернётся и спасёт мир.

//-   a(name="result"): h4 Результат

//-   p Земля. Огонь. Воздух. Вода. Когда я был мальчиком, мой отец, Аватар Аанг, рассказывал мне историю о том, как он и его друзья героически завершили Столетнюю войну. Аватар Аанг и Хозяин Огня Зуко преобразовали колонии Народа Огня в Объединенную Республику наций, общество, в котором маги и не-маги со всего мира могли бы жить и процветать вместе, в мире и гармонии. Они назвали столицу этой великой страны "--- город Республика. Аватар Аанг сделал много замечательных вещей в своей жизни но, к сожалению, его время в этом мире подошло к концу. И, как и цикл времён года, цикл Аватара начался заново.

//- block contents
//-   +extraContents